<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,106},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,146},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>guard/guard-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,82},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{22,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{22,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,190},{20,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,106},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,186},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,148},{20,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,146},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,106},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{18,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,42},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,42},{22,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,146},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,82},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,232},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,42},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,106},{20,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,42},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{22,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{20,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>house.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>thief/thief-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,129},{15,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,99},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,240},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,71},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,101},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,227},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,199},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,171},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,143},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,211},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,212},{17,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,210},{15,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,183},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,184},{15,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,82},{17,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,239},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,211},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,183},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,183},{13,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{13,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,127},{15,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,42},{15,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{13,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{13,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,226},{15,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,157},{15,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f9d2a3039cbe3943d4923b1cbaca6ad$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
