<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard/guard-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{22,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{22,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{20,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{20,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,26},{18,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,168},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,82},{22,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,26},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,42},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,128},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,208},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,208},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,42},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,26},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{20,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,26},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{20,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>thief/thief-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,82},{15,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,87},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,87},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,78},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,82},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,82},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,80},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,78},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,65},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,63},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,46},{17,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,95},{15,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,70},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,99},{15,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,42},{17,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,65},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,61},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,61},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,46},{13,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{13,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,97},{15,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,48},{15,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,46},{13,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{13,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{15,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,95},{15,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:529e0e5e57a34da84352d76cf12f77ad$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
