<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,195},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,182},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,124},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>guard/guard-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,191},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,103},{22,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{22,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,126},{20,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,172},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,162},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,127},{20,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,158},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,149},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{18,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,141},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{22,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,215},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,167},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,84},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,148},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,138},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{22,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,186},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,173},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{20,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,196},{18,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,117},{22,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>guard/guard-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{20,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>house.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>porter/porter-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{20,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,46}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>porter/porter-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,24},{19,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,45}}</string>
                <key>sourceSize</key>
                <string>{21,47}</string>
            </dict>
            <key>porter/porter-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,22},{18,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,45}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
            <key>porter/porter-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,42},{16,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{16,45}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>porter/porter-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{21,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,45}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>porter/porter-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,94},{21,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,43}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>porter/porter-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,25},{17,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{17,45}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>porter/porter-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,93},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{21,42}}</string>
                <key>sourceSize</key>
                <string>{25,48}</string>
            </dict>
            <key>porter/porter-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,45},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,44}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>porter/porter-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,77},{15,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,44}}</string>
                <key>sourceSize</key>
                <string>{19,46}</string>
            </dict>
            <key>porter/porter-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{22,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>porter/porter-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>porter/porter-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,66},{16,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,44}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>porter/porter-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,60},{22,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>porter/porter-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,44},{22,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>porter/porter-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,36},{20,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>porter/porter-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{17,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,44}}</string>
                <key>sourceSize</key>
                <string>{19,46}</string>
            </dict>
            <key>porter/porter-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{18,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,45}}</string>
                <key>sourceSize</key>
                <string>{20,47}</string>
            </dict>
            <key>porter/porter-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,109},{15,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{15,42}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>porter/porter-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{24,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>porter/porter-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,58},{17,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{17,44}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>porter/porter-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,84},{17,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{17,43}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>porter/porter-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{17,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{17,43}}</string>
                <key>sourceSize</key>
                <string>{23,49}</string>
            </dict>
            <key>porter/porter-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{23,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,43}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>thief/thief-walk-down-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,261},{15,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,267},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,229},{13,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,253},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,246},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,229},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,252},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-downright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,250},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,225},{17,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,240},{15,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,235},{15,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,235},{15,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,216},{17,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,244},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,225},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,233},{15,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,26}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>thief/thief-walk-upleft-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,211},{13,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{13,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{15,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,216},{15,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,182},{13,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{13,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,208},{15,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>thief/thief-walk-upright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,269},{15,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d64edaed4c32259eaaa363bea108ab52$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
